<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	
	<bean name="ad" class="com.sumanta.setter.Address">
	<property name="id" value="1003"> </property>
	<property name="name" value="Sumanta"></property>
	<property name="salary" value="34000.43"></property>
	<property name="city" value="Bhubaneswar"></property>
	
	
	</bean>
	
	<bean name="St" class="com.sumanta.setter.Student">
	<property name="email" value="swainsumanta01@gmail.com"></property>
	<property name="address">
	<ref bean="ad"></ref>
	</property>
	
	</bean>
	
</beans>