<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	
	
	<bean name="St" class="com.sumanta.springLifeCycle.impl.Student">
	<property name="id" value="21414"></property>
	<property name="name" value="Rectom"></property>
	
	</bean>
</beans>